.heading {
    width: 100%;
}

.chat-content-div {
    width: 60%;
    height: 450px;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}

.note_div {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(172, 168, 168);
}

.msg-input-div {
    width: 60%;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

.msg-input-div input {
    width: 70%;
    float: left;
    border-radius: 30px;
    margin-left: 10px;
}

.msg-input-div button {
    width: 20%;
    border-radius: 30px;
}

.chat_display-div {
    width: 100%;
}

#output {
    width: 100%;
    overflow: scroll;
}

.color_white {
    color: white
}

.user_tick {
    width: 30px;
    border-radius: 50%;
}

.message_h4 {
    padding-left: 5px;
    color: rgb(116, 116, 116);
    font-size: 16px;
}

.username_h4 {
    font-size: 15px;
}

#logout {
    border-radius: 10px;
}