html {
    scroll-behavior: smooth;
}

.game {
    border-radius: 10px;
    width: 756px;
    height: 415px;
}

#_chat-button_ {
    width: 20%;
    border-radius: 30px;
}

#_chat-button_:hover {
    width: 20%;
    color: rgb(0, 60, 255);
    border-radius: 30px;
    background-color: white;
}

#_leave-button_ {
    width: 20%;
    border-radius: 30px;
}

#_leave-button_:hover {
    width: 20%;
    color: red;
    border-radius: 30px;
    background-color: white;
}

#mail {
    cursor: pointer;
}

#mail:hover {
    color: gold;
    cursor: pointer;
}

.round {
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

.thanks-img {
    width: 80%;
    height: 350px;
    border-radius: 20px;
    cursor: pointer;
}