html {
    scroll-behavior: smooth;
}

.game {
    border-radius: 10px;
    width: 756px;
    height: 415px;
}

#_chat-button_ {
    width: 20%;
    border-radius: 30px;
}

#_chat-button_:hover {
    width: 20%;
    color: rgb(0, 60, 255);
    border-radius: 30px;
    background-color: white;
}

#_leave-button_ {
    width: 20%;
    border-radius: 30px;
}

#_leave-button_:hover {
    width: 20%;
    color: red;
    border-radius: 30px;
    background-color: white;
}

#mail {
    cursor: pointer;
}

#mail:hover {
    color: rgb(7, 226, 7);
    cursor: pointer;
}

.round {
    width: 150px;
    height: 100px;
    border-radius: 50%;
}


/* .thanks-img {
    width: 80%;
    height: 350px;
    border-radius: 20px;
} */

.stream {
    width: 80%;
    height: 300px;
    border-radius: 20px;
    /* background-image: url('../../images/stream-images/day-2.PNG'); */
}

.stream iframe {
    border-radius: 20px;
}

.stream p {
    width: 100%;
    color: white;
    background-color: rgb(255, 175, 175);
    padding: 5px;
    border-radius: 10px;
}


/* .stream button {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 100px;
    background-color: #fff;
} */

.new {
    width: 100%;
    background-color: gold;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}

#_mars_ {
    width: 20%;
    color: #fff;
    border-radius: 30px;
}

#_mars_:hover {
    width: 20%;
    color: gold;
    border-radius: 30px;
    background-color: white;
}